<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Using a Jack</title>
    <link rel="icon" href="../../favicon.ico" />
    <link
      rel="stylesheet"
      href="../../node_modules/bootstrap/dist/css/bootstrap.css"
    />
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="stylesheet" href="./using-a-jack.css" />
  </head>
  <body>
    <nav class="navbar">
      <a class="navbar-links" href="../../index.html">
        <h2>Home</h2>
      </a>
      <a class="navbar-links" href="./using-a-jack.html">
        <h3>Using a Jack</h3>
      </a>
      <a class="navbar-links" href="">
        <h3>Link</h3>
      </a>
    </nav>

    <div class="notes-section">
      <div class="subtitle">
        <h1 id="subtitle-heading">Using a Jack</h1>
        <div class="subsubtitle">
          <h2>1) Park and Secure the Car</h2>
          <div class="text">
            <p>
              Put the parking/emergency brake on. Then chock the wheels. On a
              downhill grade, position the chocks in front of the front wheels.
              On an uphill grade, position the chocks behind the rear wheels. On
              a level grade, position the chocks on the front and back of the
              drivers side wheel
            </p>
          </div>
        </div>
        <div class="subsubtitle">
          <h2>2) Place the Jack and Raise the Car</h2>
          <div class="text">
            <p>
              Check your owner's manual for the proper placement of the jack.
              Position the jack under the car frame. If you only need to lift
              one wheel, lift just that corner of the vehicle. If you need to
              lift the front or rear of the car, choose a jack point at the
              center of the front or rear suspension or frame. The two basic
              types of jacks are scissor jacks and hydraulic jacks
            </p>
          </div>
        </div>
        <div class="subsubtitle">
          <h2>Place the Jack Stands</h2>
          <div class="text">
            <p>
              
            </p>
          </div>
        </div>
      </div>
    </div>
    <script src="./index.js"></script>
  </body>
</html>
