body{
  background-color: lightgray;
}

h1, h2 {
  margin: 0px;
}
a {
  text-decoration: none;
}

.navbar {
  background-color: darkslategray;
  display: flex;
  justify-content: left;
  padding: 0px;
  border-bottom: 1px solid black;
}

.navbar-links {
 color: white;
 padding: 10px 20px;
 border-right: 1px solid white;
}

.navbar-links:hover {
  cursor: pointer;
  color: black;
  background-color: lightblue;

}