<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    <link rel="icon" href="../../favicon.ico" />
    <link
      rel="stylesheet"
      href="../../node_modules/bootstrap/dist/css/bootstrap.css"
    />
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="stylesheet" href="./change-a-tire.css" />
  </head>
  <body>
    <nav class="navbar">
      <a class="navbar-links" href="../../index.html">
        <h2>Home</h2>
      </a>
      <a
        class="navbar-links"
        href="../using-a-jack/using-a-jack.html"
      >
        <h3>Link 1</h3>
      </a>
      <a class="navbar-links" href="./change-a-tire.html">
        <h3>Link 2</h3>
      </a>
    </nav>
  </body>
</html>
